
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Makethejobs - Forgotten Password</title>
{% endblock %}
{% block body %}
    <h1 class="mb-4">Forgotten Password</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Enter your email" value="{{ request.POST.email }}" />
            {{ error_email }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}