{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Makethejobs - Reset Password</title>
{% endblock %}
{% block body %}
    <h1 class="mb-4">Reset Password</h1>
    {{ login_error }}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="password1">New password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Your new password" value="{{ request.POST.password1 }}" />
            {{ error_password1 }}
        </div>
        <div class="form-group">
            <label for="password2">New password confirmation</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat the password" value="{{ request.POST.password2 }}" />
            {{ error_password2 }}
        </div>
        <input type="hidden" value="{{ request.GET.key }}" name="key" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}