{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Makethejobs - Get rewards by doing favors</title>
    {% endblock %}

    {% block head_css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    {% endblock %}

    {% block head_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endblock %}

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mb-4">
          <a class="navbar-brand" href="">Makethejobs</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav nav">
                  {% if user.is_authenticated %}
                       <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profiles:userhome' %}">{{ user.username }}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">Edit profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">Change Password</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Logout</a>
                      </li>

                  {% else %}
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles:userhome' %}">Register</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">Reset Password</a>
                      </li>

                  {% endif %}
            </ul>
          </div>
        </nav>

        {% block body %}
        {% endblock %}
    </div>

    {% block footer_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>